body{
    margin: 0;
    padding: 0;
    background-color: rgb(254, 254, 254);
}
.carousel-item{
    height: 490px;
    align-items: center;
    background-color: cadetblue;
}
.carousel-item img{
    margin: auto;
}